@{
  Layout = "_Layout";
}

@using Factory.Models;

<div class="container">
  <h2> Engineer's List</h2>
  @if (@Model.Count == 0)
  {
    <p>No engineers have been added yet</p>
  }
  <ul>
    @foreach (Engineer engineer in Model)
    {
      <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
    }
  </ul>

  <div class="link-card">
    <p>@Html.ActionLink("Add an engineer", "Create")</p>
  </div>
  
</div>
